/Cikli/dist/
/Day6/nbproject/private/
/Day6/build/
/Day6/dist/
/Desas/nbproject/private/
/Desas/build/
/Desas/dist/
/Karatavas/nbproject/private/
/Karatavas/build/
/Karatavas/dist/
/Test/nbproject/private/
/Test/build/
/Day10_Konsole/nbproject/private/
/Day10_Konsole/build/
/Day10_GUI/nbproject/private/
/Day10_GUI/build/
/Day11/nbproject/private/
/Day11/build/